.scheme * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    outline: none;
}

.scheme ul {
    margin-top: 0;
    margin-bottom: 0;
    float:left;
}

.scheme a {
    color: #00008b;
    cursor: pointer;
    text-decoration: underline;
}

.scheme .model-popup {
	background-color: #FFD7B4 !important;
}
.scheme .ui-dialog .ui-dialog-content {
	border-color: #FFD7B4 !important;
}

/*.scheme .ui-dialog-titlebar {
	height: 0 !important;
}

.scheme .ui-dialog-title {
	display: none !important;
}*/

.scheme.physicon-model {
    position: relative;
    overflow: hidden;
    /*overflow-y: auto;*/
}

.scheme.physicon-model > .preloader, .scheme.physicon-model > .nojs, .scheme.physicon-model > .content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.scheme.physicon-model > .preloader {
    background: #CDDBE7 url("images/loader.gif") center center no-repeat;
}

.scheme.physicon-model > .nojs {
    text-align: center;
}

.scheme .physicon-scheme {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.scheme .physicon-scheme .scheme-blocker {
    width:100%;
    height:100%;
    position: absolute;
    display: none;
}

.scheme .physicon-scheme .scheme-main-container {
    width: 100%;
    position: absolute;
    /*overflow:auto;*/
}

.scheme .physicon-scheme .block-small {
    position: absolute;
    width: 180px;
    height: 80px;
    min-width: 30px;
    min-height: 30px;
    cursor: default;
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    /* use default from body */
    /*font-size: 16px;*/
    text-align: justify;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.scheme .physicon-scheme .block-small .block-container {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #C6F8B1;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    box-shadow: -1px 1px 22px 0px #2c2c2c;
	 -moz-box-shadow: -1px 1px 22px 0px #2c2c2c;
    -webkit-box-shadow: -1px 1px 22px 0px #2c2c2c;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
	border-collapse: separate;
	padding: 16px;
}
.scheme .physicon-scheme .block-small .has-popup {
  cursor: pointer;
}

.scheme .physicon-scheme .block-small.align-left .block-text-wrapper span {
    text-align: left;
    padding-left: 5px;
    line-height: 130%;
    padding: 0 6px;
}

.scheme .physicon-scheme .block-big {
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;
    height: 400px;
    min-width: 100px;
    min-height: 60px;
    cursor: default;
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    font-size: 16px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.scheme .physicon-scheme .block-big .block-container {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #C6F8B1;
    border: 1px solid #555555;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    position: absolute;
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.scheme .physicon-scheme .btn-expand-childs {
    background-image: url("images/plus_icon.png");
    width: 27px;
    height: 27px;
    bottom: -8px;
    right: -8px;
    position: absolute;
    cursor: pointer;
    z-index: 2;
}

.scheme .physicon-scheme .btn-expand-childs.expanded {
    background-image: url("images/minus_icon.png");
}

.scheme .physicon-scheme .btn-show-content, .physicon-scheme .btn-hide-content {
  background: url("images/plus-01.png") no-repeat;
  background-size: contain;
  width:30px;
  height:30px;

  top: 2px;
  right: 2px;
    position: absolute;
    cursor: pointer;
}

/* .scheme .physicon-scheme .btn-hide-content {
    background-image: url("images/lupa_minus_icon.png");
} */

.scheme .physicon-scheme .btn-show-content:hover, .physicon-scheme .btn-hide-content:hover {
    top: 3px;
    right: 3px;
}
.scheme .physicon-scheme .btn-show-content:active, .physicon-scheme .btn-hide-content:active {
    top: 1px;
    right: 1px;
}

.scheme .physicon-scheme .hline {
    width: 200px;
    height: 3px;
    background-color: #1A6DA3 !important;
}

.scheme .physicon-scheme .vline {
    width: 3px;
    height: 200px;
    background-color: #1A6DA3 !important;
}

.scheme .physicon-scheme.noline .vline, .scheme .physicon-scheme.noline .hline {opacity:0}

.scheme .physicon-scheme .vline, .physicon-scheme .hline {
    background-color: #363636;
    position: absolute;
    left: 0;
    top: 0;
}

.scheme .physicon-scheme .block-small .block-text-wrapper {
    width:100%;
    height:100%;
    text-align: center;
    display: table;
}

.scheme .physicon-scheme .block-small .block-text-wrapper .block-text-span {
    line-height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    padding: 0 6px;
}

.scheme .physicon-scheme .block-big .default-content-tbl {
    border-collapse: collapse;
    width: 100%;
}

.scheme .physicon-scheme .block-big .default-content-tbl .header {
    text-align: center;
    font-weight: bold;
    color: #0b333C;
    padding: 2px;
}

.scheme .physicon-scheme .block-big .default-content-tbl .content {
    text-align: justify;
    line-height: 120%;
    height: 100%;
    vertical-align: top;
    padding: 0 5px 5px 5px;
}

.scheme .physicon-scheme .sheme-block-container {
    position:absolute;
    left: 0;
    top: 0;
}

.scheme .physicon-scheme .scheme-block-childs {
    position:absolute;
    left: 0;
    top: 0;
}

/*.scheme .ui-widget-overlay {
	display: none;
	position: absolute;
    opacity: .6;
    filter:Alpha(Opacity=60);
    background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 0 0 repeat-x;
}

.scheme .scheme-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
    opacity: .5;
    filter:Alpha(Opacity=50);
    background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 0 0 repeat-x;
    background: #000000;
    z-index: 100;
    display: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.scheme .physiconDialog.ui-dialog {
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    cursor: default;
    font-size: 16px;
    line-height: 120%;
    padding: 0;
    border: 20px solid rgb(236, 184, 136);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    box-shadow: -1px 1px 22px 0px #2c2c2c;
	 -moz-box-shadow: -1px 1px 22px 0px #2c2c2c;
    -webkit-box-shadow: -1px 1px 22px 0px #2c2c2c;
}

.scheme .physiconDialog.ui-dialog .ui-dialog-titlebar {
    padding: 0 0 5px 0;
    color: #0b333C;
    background: #A7C5E8;
    border: none;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
}

.scheme .physiconDialog.ui-dialog .ui-dialog-titlebar-close {
	display: none;
    position: absolute;
    right: -34px;
    top: -36px;
    width: 27px;
    height: 27px;
    border: none;
    background: url("images/dialog_close_icon.png") 0 0 no-repeat;
    cursor: pointer;
}

.scheme .physiconDialog.ui-dialog .ui-dialog-titlebar-close .ui-button-text {
	display: none;
}

.scheme .physiconDialog.ui-dialog .ui-icon-closethick {
	display: none;
}

.scheme .physiconDialog.ui-dialog .ui-dialog-content {
    padding: 5px;
    text-align: justify;
    border: none;
    outline: none;
}

.scheme .physiconDialog.ui-dialog .ui-dialog-content a {
    color: #00008b;
}

.scheme .physiconDialog.ui-dialog .ui-dialog-titlebar-close.ffbtn{
    position: absolute;
    right: 34px;
    top: 50%;
    width: 8px;
    margin: -13px 0 0 0;
    padding: 1px;
    height: 16px;
}

.scheme .physiconDialog.ui-dialog .ui-icon-closethick.ffbtn1 {
    background-image: url("images/arrow-in-out.png");
    background-position: 0;
    cursor: pointer;
} */

.scheme.physicon-model {
    width: 700px;
    height: 400px;
}
.scheme .block-text-wrapper .small-icon{
    height: 16px;
    top: 4px;
    left: 4px;
    border: 1px solid #000000;
    position: absolute;
}
.scheme .block-text-wrapper span {
    padding: 20px 0 14px 0; /* ??? */
}
.scheme .block-text-wrapper .MathJax_SVG {
    padding: 0; /* #9463 у формул слишком большой отступ */
}
.scheme .content-image {
	border: 1px solid #000000;
	margin-right: 10px;
    height: 150px;
    float: left;
}
/*.scheme .ui-dialog {
	z-index: 500;
}

.scheme .ui-dialog .ui-dialog-title {
	width: 100%;
}

.scheme .ui-dialog .ui-dialog-content {
	-webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
}*/

.scheme .inner-popup {
  position: absolute;
  background-color: white;
  border: 1px solid #dcd;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  border-radius: 8px !important;
  z-index: 2100;
  display: none;
  padding: 12px;
  box-sizing: border-box;
  max-width: 80%;
  max-height: 80%;
}

.scheme .inner-popup .content {
  position: relative;
  font-size: 11pt;
  line-height: 13pt;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.scheme .inner-popup .closeBtn {
  position: absolute;
  background: url(images/dialog_close_icon.png) 0 0 no-repeat;
  width: 27px;
  height: 27px;
  top: -14px;
  right: -14px;
  cursor: pointer;
}

.scheme .blocking-screen {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	background: #000000;
	opacity: 0.3;
	z-index: 2099;
}

/*.scheme .centerFigure tr+tr td .imageWrapper {padding:15px 0}*/
.scheme .centerFigure+p {padding-top:10px;}

.scheme .block-small[color="#97bde2"] .block-container {background-color:#97bde2}
.scheme .block-small[color="#ECB888"] .block-container {background-color:#ECB888}
.scheme .block-small[color="#EEEB8A"] .block-container {background-color:#EEEB8A}
.scheme .block-small[color="#A8DBA0"] .block-container {background-color:#A8DBA0}
.scheme .block-small[color="#A1CADC"] .block-container {background-color:#A1CADC}
.scheme .block-small[color="#E2DED3"] .block-container {background-color:#E2DED3}
.scheme .block-small[color="#0E6DAD"] .block-container {background-color:#0E6DAD; color:#fff}

/*
.block-small.demonstrate .block-container {border:4px solid #0E6DAD;}
.block-small.demonstrate[color="#0E6DAD"] .block-container {background-color:#0b96f4 !important;}
.block-small.demonstrate[color="#ECB888"] .block-container {background-color:#fa7c07 !important;}
.block-small.demonstrate[color="#EEEB8A"] .block-container {background-color:#fff700 !important;}
.block-small.demonstrate[color="#A8DBA0"] .block-container {background-color:#25fb04 !important;}
.block-small.demonstrate[color="#A1CADC"] .block-container {background-color:#00b1ff !important;}
.block-small.demonstrate[color="#E2DED3"] .block-container {background-color:#fbb902 !important;}

.block-small.demonstrate[color="#0E6DAD"] .block-container {background-color:#6dc4ff !important;}
.block-small.demonstrate[color="#ECB888"] .block-container {background-color:#ffc998 !important;}
.block-small.demonstrate[color="#EEEB8A"] .block-container {background-color:#fffc97 !important;}
.block-small.demonstrate[color="#A8DBA0"] .block-container {background-color:#c8ffbf !important;}
.block-small.demonstrate[color="#A1CADC"] .block-container {background-color:#c0ecff !important;}
.block-small.demonstrate[color="#E2DED3"] .block-container {background-color:#fffaed !important;} */

.scheme.showtime .btn-expand-childs {opacity:0}
.scheme.showtime .btn-show-content, .scheme.showtime .btn-hide-content {opacity:0}
.scheme.showtime .physicon-scheme .block-small {min-height: auto}
.scheme .mark {position:absolute; left:0; top:0; width:100%; height:100%; box-sizing: border-box; border:3px solid #1a6da3; border-radius: 5px}
.scheme .main .block-root .mark {border-color:#fff}

.showtime .ui-dialog-titlebar-close {opacity:0}

/* 9463#change-58483 */
.scheme .mathjax-calc table {opacity:0}

.ui-dialog .ui-dialog-titlebar {
    /*ARCH #10913 Добавляем картинку, иначе заголовок пустой и неочевидно, что можно перетаскивать*/
    background-image: url('../../../img/extract/title-bg.png');
}