.courseml {
    height: 100%;
    width: 100%;
    font-size: 24px;
    line-height: 27px;
    font-family: Trebuchet MS, sans-serif;
    -webkit-overflow-scrolling: touch;

    /* этот класс используется и для popup */
    /* background-size: 100%; */
    /* background: url(../../img/common/bg_template_default.png) repeat; */
}

absolute.inline-block-mathml {
    font-size: 134%;
}

#bgvideo {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
}

.hiddenOverflow {
    overflow: hidden !important;
}

.stepnav {
    cursor: pointer;
    margin-bottom: 3px;
}

.stepheader {
    border-bottom: 2px solid #1c5b81;
}

.code {
    font-family: Lucida Console, monospace;
}

.key {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 26px;
}

.file {
    font-family: Lucida Console, monospace;
    font-weight: bold;
}

.code > .verdana {
    font-size: 20px;
}

.listtheme .cellsp3 {
    display: table-cell;
    width: 111px;
}

.listtheme .cellsp4 {
    display: table-cell;
    width: 161px;
}

.listtheme .cellsp5 {
    display: table-cell;
    width: 51px;
}

.listtheme .counternum4 {
    width: 30px;
    padding: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #c0d298;
    font-weight: bold;
    display: table-cell;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    vertical-align: middle;
}

.listtheme .counternum5 {
    width: 40px;
    padding: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #f7dbb6;
    font-weight: bold;
    display: table-cell;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    vertical-align: middle;
}

.listtheme .listname4 {
    padding: 10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #fbfbfb;
    display: table-cell;
    vertical-align: middle;
}

.listtheme .listname5 {
    padding: 10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #fbfbfb;
    display: table-cell;
    vertical-align: middle;
}

#caruselBtn {
    position: absolute;
    top: 25px;
    left: 15px;
    cursor: pointer;
}

#emphasizing {
    padding: 0 4px;
}

#switchcontent {
    width: 34px;
    height: 34px;
    background: url(../../img/common/contentgroup.png);
    position: absolute;
    top: 25px;
    left: 15px;
    cursor: pointer;

}

.contentImage {
    width: 300px;
    border: 1px solid #025287;
    border-radius: 4px;
    float: left;
    margin: 10px;
    cursor: pointer
}

.groupitem {
    width: calc(100% - 40px);
    display: inline-table;
    margin: 10px;
    padding: 2px !important;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #e8ebf9;
    vertical-align: middle;
    line-height: 1.2 !important;
}

.groupitem > div {
    display: table-row;
    text-align: center;
    vertical-align: middle;
}

.groupitem > div > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 38px;
}

.groupitem > div > div > div {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 38px;
    color: #0064a2;
    font-size: 18px;
    line-height: 1 !important;

}

.groupitem img {
    border: 1px solid #025287;
    border-radius: 4px;
    width: calc(80% - 2px);
}

.themegroupbig .groupitem {
    width: calc(50% - 40px);
    display: inline-table;

}

.themegroup {
    width: 22%;
    border: 2px solid #025287;
    display: inline-table;
    border-radius: 8px;
    height: calc(100% - 40px);
    text-align: center;
    margin: 10px;
    margin-left: 0px;
    margin-top: 15px;
}

.themegroupbig {
    width: 44%;
    border: 2px solid #025287;
    display: inline-table;
    border-radius: 8px;
    height: calc(100% - 40px);
    text-align: center;
    margin: 10px;
    margin-left: 0px;
    margin-top: 15px;
}

.themegroupheader {
    display: table-row;
    color: white;
    padding: 10px;
    background: #0064a2;
    height: 35px;
}

.themegroupheader > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.themegroupcontent {
    display: table-row;

}

.themegroupcontent > div {
    display: table-cell;
    text-align: center;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


pre {
    line-height: 27px;
    font-size: 24px;
}

.excel {
    font-family: Calibri, sans-serif;
    font-size: 17pt;
}

.wronganswer, .hintanswer, .rightanswer, .stepcounter, .qrusbutton, #clock,
#contextHelpBtn, .qrusbutton, .solutionanswer {
    font-size: 24px;
}

/*
li, ol, ul {
    line-height: 1.55;
}*/
li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.innerthemes, .inneritem, .inneritemselected {
    line-height: 1.2;
    height: 50px;
}

.innerthemes {
    padding-left: 10px;
}

.paragraphs {
    font-size: 20px;
}

.themes {
    font-size: 22px;
    font-weight: bold;
}

.listtheme {
    padding-top: 25px;
    line-height: 1.6;
}

.bar {
    line-height: 27px;
}

.rightFigure {
    margin-left: 20px;
}

.borderedlabel {
    border: 1px solid #025287;
}

.borderedimg {
    border-radius: 10px;
    border: 2px solid #025287;
}

.bordereddiv {
    border-radius: 10px;
    border: 2px solid #025287;
    position: relative;
}

#bottomsolutionpanel {
    padding: 4px 10px 7px 4px !important;
}

.solutionanswer {
    margin: 5px 0;
}

#stringanswer {
    padding: 10px 5px 10px 0px;
    display: table;
}

#slide > div > div {
    vertical-align: middle;
}

.comment,
.commentheader {
    font-size: 24px;
    line-height: 22px;
}

#theory > .centerFigure {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#conditions > table.centerFigure {
    margin-top: 10px;
    margin-bottom: 10px;
}

#theory {
    display: none;
    width: 900px;
    margin: 0 auto;
    padding: 0px !important;
    position: relative;
}

#slide {
    height: 100%;
    z-index: 100;
    position: relative;
}

#contents, #journal, #bookmarks {
    position: relative;
}

.courseml input,
.courseml input[type="text"],
.courseml input[type="number"] { /* удалил !important с разрешения Сергея, так как он мешал другим классам */
    border: 2px solid #025287;
    border-radius: 6px;
    padding: 0 5px 0 5px;
    height: 30px;
}

section {
    background-image: none;
}

.tablecenter {
    border: 1px solid #5f90cb;
}

.tablecenter > tbody > tr > td, .tablecenter > tbody > tr > th, .tablecenter > tr > td, .tablecenter > tr > th {
    border: 1px solid #5f90cb;
}

.ui-tooltip {
    max-width: 600px;
    width: auto;
    word-wrap: break-word;
    font-size: 24px;
}

.ui-dialog {
    line-height: 1.4;
}

.oddrows > td {
    background: #d0ddf0;
}

.evenrows > td {
    background: #eceff2;
}

.tablecenterinvisible > tbody > tr.oddrows > td {
    background-color: transparent;
}

.tablecenterinvisible > tbody > tr.evenrows > td {
    background-color: transparent;
}

div.audio {
    padding: 9px 3px 0 3px;
}

#wrapper .audio .android-audio {
    position: relative !important;
    bottom: 0px !important;
    height: 42px !important;
}

#activepanel {
    padding-bottom: 10px;
    padding-top: 0 !important;
    position: relative;
    margin-top: 25px;
}

.seqstepanswer {
    padding-left: 4px;
    margin-left: -5px;
}

#wrapper {
    width: 900px;
    margin: 0 auto;
    /*padding-bottom: 0px !important;*/
    position: relative;
}

.noCheckPanel {
    padding-bottom: 0px !important;
}

#conditions .panelBorder {
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 8px;
    z-index: 1;
    background: none;
    pointer-events: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

#conditions {
    position: relative;
    padding: 4px 10px 7px 0px !important;
    margin-top: 10px;
    z-index: 1;
    width: 100%;
}

#conditions p {
    vertical-align: middle;
    padding-bottom: 5px;
}

.qrusleft {
    padding-bottom: 0px;
    line-height: 36px;
}

#qrusbottom {
    padding-top: 20px;
}

.qrusbutton {
    width: 220px;
}

#qrus {
    margin-top: -25px;
}

/*
#checkPanel {
    width: 100%;
    position: fixed !important;
    bottom: 0 !important;
    padding: 0 !important;
    z-index: 699;
    pointer-events: none;
}

#checkButtons {
    position: absolute !important;
    pointer-events: auto;
    right: 8px !important;
    bottom: 8px !important;
    padding: 0 !important;
    z-index: 10 !important;
}
*/
.definition {
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #025287;
    display: table;
    padding: 10px;
    padding-left: 40px;
    border-left: 13px solid #025287;
    text-align: justify;
}

td > .definition {
    display: block;
}

.definition > div {
    display: table-row;
}

.definition > div > div {
    display: table-cell;
}

.assetCenter {
    padding-right: 30px;
}

#hintAligner {
    z-index: 10 !important;
}

.chkPanelBackground {
    width: 100%;
    height: 100%;
    opacity: 0.85;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    display: none;
}

#turtle {
    width: 180px;
    height: 140px;
    position: absolute;
    bottom: 0px;
    left: 15px;
    background: none;
    display: none;
}

#endTestBtn {
    width: 150px !important;
}

.check {

}

/* ------- ��� ������ sorting ------- */

#sortgroup .bar.sorting {
    /*	height: 40px !important;*/
    border: 2px solid #025287 !important;
    border-radius: 8px;
    padding: 10px 0px;
    background: #86c9f5;
    position: relative;
}

.bar.sorting .innerBorder {
    position: absolute;
    left: 0px;
    top: 0px;
    /*border: 2px solid #f2f3f8;*/
    border-radius: 8px;
}

#sortitems .bar.sorting {
    /*	height: 40px !important;*/
    padding: 10px 0px;
    border: 2px solid #025287 !important;
    background: #ccdef1;
    border-radius: 8px;
    position: relative;
}

#sortitems .bar.sorting .innerBorder {
    /*border: 2px solid #025287;*/
    border-radius: 5px;
}

.baractive {
    margin: 5px;
}

#sortitems li, #sortgroup li {
    margin-top: 0;
    margin-bottom: 0;
}

/* --------------------------------- */

.varianttext img {
    border: 3px solid transparent;
    border-radius: 8px;
}

.varianttext img.borderedimg {
    border: 3px solid #025287;
    border-radius: 8px;
}

/* ------- ��� ������ Classification -------- */

.groupcolumn-hover {
    background-color: #a6c9f5;
    background-position: top;
}

.bar.classification {
    border: 2px solid #025287;
    background: #ccdef1;
    border-radius: 8px;
    padding: 10px 0px;
}

.bar.classification.withImages {
    border: none;
    background: transparent;
    padding: 2px;
    margin: 4px;
}

.bar.classification.withImages > div {
    background: #e7edfa;
    border-radius: 8px;
}

.bar.classification.withImages img {
    border: 2px solid #025287;
    border-radius: 8px;
    box-sizing: border-box;
}

.groupbar.classification {
    background: #86c9f5;
    font-size: 24px;
    border: 2px solid #025287;
    color: black !important;
    border-radius: 8px;
    position: relative;
    padding: 10px 0px;
}

.groupbar.classification .innerBorder {
    position: absolute;
    left: 0px;
    top: 0px;
    /*border: 2px solid #f2f3f8;*/
    border-radius: 8px;
}

.groupbar.classification.withImages .innerBorder {
    /*border: 2px solid #025287;*/
    top: 4px;
}

.groupbar.classification.withImages {
    background: none !important;
    border: none !important;
}

.groupbar.classification .classgroupitem.withImages img {
    border: 5px solid #025287;
    border-radius: 8px;

    border-radius: 8px;
}

/*.groupbar.classification .classgroupitem table{*/
/*	margin: 0;*/
/*}*/

.classitemitem .innerBorder {
    position: absolute;
    left: 0px;
    top: 0px;
    /*border: 2px solid #025287;*/
    border-radius: 5px;
}

/* -------------------------------------------- */

/* ---------- ��� ������ Matching -------------- */

#sortgroup .bar.matching {
    background: #86c9f5;
    border: 2px solid #025287;
    color: black !important;
    border-radius: 8px;
    position: relative;
    padding: 0;
}

#sortgroup .bar.matching.withoutImage {
    padding: 8px 0;
}

#sortgroup .bar.matching > div {
    width: 100%;
}

#sortgroup .bar.matching .innerBorder {
    position: absolute;
    left: 0px;
    top: 0px;
    /*border: 2px solid #f2f3f8;
    border-radius: 8px;*/
}

#sortgroup .bar.matching .bartc {
    text-align: center !important;
}

#sortgroup .bar.matching.withImages {
    border: none !important;
    background: none;
    padding: 0;
}

#sortgroup .bar.matching.withImages img {
    border: 2px solid #025287;
    border-radius: 8px;
}

#sortgroup .bar.matching.withImages .outerBorder {
    /*
    border: 2px solid #025287;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    padding: 8px;
    background: #dbebea;*/
}

#sortitems .bar.matching {
    background: transparent;
    border: 0;
    color: black !important;
    border-radius: 8px;
    position: relative;
    padding: 0;
}

#sortitems .bar.matching.withoutImage {
    background: #ccdef1;
    border: 2px solid #025287;
    padding: 8px 0;
}

#sortitems .bar.matching .innerBorder {
    position: absolute;
    left: 0px;
    top: 0px;

    border-radius: 5px;
}

#sortitems .bar.matching.withImages {
    border: none !important;
    /*	background: none !important;*/
    padding: 0;
}

.background-none {
    background: none !important;
}

#sortitems .bar.matching img {
    border: 2px solid #025287;
    border-radius: 8px;
}

#sortitems li.wrongAnswer .bar.matching table tr:first-child td {
    background-color: rgb(250, 150, 150) !important;
    border-radius: 8px;
}

#sortitems li.wrongAnswer .bar.matching table img {
    /*	border-color: red;*/
}

#sortitems li.wrongAnswer .caption.visible .captionDiv {
    background-color: rgb(250, 150, 150) !important;
}

#sortitems li.wrongAnswer .caption.visible .innerBorder {
    /*	border-color: red !important;*/
}

#sortitems li.wrongAnswer .bar.matching.withImages .bartc {
    background-color: rgb(250, 150, 150) !important;
    border-radius: 8px;
}

#sortitems li.rightAnswer .bar.matching table tr:first-child td {
    background-color: rgb(200, 250, 199) !important;
    border-radius: 8px;
}

#sortitems li.rightAnswer .bar.matching table img {
    /*	border-color: green;*/
}

#sortitems li.rightAnswer .caption.visible .captionDiv {
    background-color: rgb(200, 250, 199) !important;
}

#sortitems li.rightAnswer .caption.visible .innerBorder {
    /*	border-color: green !important;*/
}

#sortitems li.rightAnswer .bar.matching.withImages .bartc {
    background-color: rgb(200, 250, 199) !important;
    border-radius: 8px;
}

/* --------------------------------------------- */

/* ------------ Singlechoice, Multichoice -------------- */

.variantwrapper.withoutImage {
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 14px;
    margin-right: 0;
}

.varianttext {
    position: relative;
    padding: 10px;
}

.varianttext.withoutImage {
    border: 3px solid #025287 !important;
    border-radius: 8px;
    margin: 5px;
    background: #ccdef2;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding: 10px 10px 10px 25px;
    height: 80%;
}

.varianttext.withImage img.singlechoice.borderedimg,
.varianttext.withImage img.multichoice.borderedimg {
    border: 3px solid #025287 !important;
    border-radius: 8px;
}

.varianttext.withoutImage > .variantchkbox {
    top: -18px;
    left: -18px;
}

.varianttext .variantchkbox {
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    border: 3px solid #025287;
    background: white;
    position: absolute;
    top: -5px;
    left: -5px;
}

.varianttext .variantchkbox .marker {
    width: 19px;
    height: 19px;
    margin: 5px auto 0;
    position: relative;
    display: none;
}

.varianttext.multichoice .variantchkbox {
    border-radius: 10px;
}

.varianttext.multichoice .variantchkbox .marker {
    background: #025287;
    border-radius: 2px;
}

.varianttext.singlechoice .variantchkbox {
    border-radius: 17px;
}

.varianttext.singlechoice .variantchkbox .marker {
    background: url(../../skins/img/board/bull_blue.png) 0 0 no-repeat;
    border-radius: 9px;
}

.varianttext.checked .variantchkbox .marker {
    display: block;
}

.varianttext.rightAnswer,
.varianttext.rightAnswer .variantchkbox {
    border-color: #27D921 !important;
}

.varianttext.rightAnswer.multichoice .variantchkbox .marker {
    display: block;
    background: #27D921 !important;
}

.varianttext.rightAnswer.singlechoice .variantchkbox .marker {
    display: block;
    background: url(../../skins/img/board/bull_green.png) 0 0 no-repeat;
}

.varianttext.withImage.rightAnswer img.singlechoice.borderedimg,
.varianttext.withImage.rightAnswer img.multichoice.borderedimg {
    border: 3px solid #27D921 !important;
}

.varianttext.wrongAnswer,
.varianttext.wrongAnswer .variantchkbox {
    border-color: #FF481A !important;
}

.varianttext.wrongAnswer.multichoice .variantchkbox .marker {
    display: block;
    background: #FF481A !important;
}

.varianttext.wrongAnswer.singlechoice .variantchkbox .marker {
    display: block;
    background: url(../../skins/img/board/bull_red.png) 0 0 no-repeat;
}

.varianttext.withImage.wrongAnswer img.singlechoice.borderedimg,
.varianttext.withImage.wrongAnswer img.multichoice.borderedimg {
    border: 3px solid #FF481A !important;
}

.varianttext.withImage img.singlechoice,
.varianttext.withImage img.multichoice {
    border: 3px solid transparent !important;
    border-radius: 8px;
}

#sortgroup .bar .caption {
    border: none !important;
    padding: 0 !important;

}

#sortgroup .bar .caption .innerBorder {
    /*	border: none !important;
    border: 2px solid #025287;*/

}

.varianttext.withImage.rightAnswer .caption.visible .captionDiv,
.varianttext.withImage.rightAnswer .caption.visible .captionDiv {
    /*background-color: rgb(200, 250, 199) !important;*/
}

.varianttext.withImage.wrongAnswer .caption.visible .captionDiv,
.varianttext.withImage.wrongAnswer .caption.visible .captionDiv {
    /*background-color: rgb(250, 150, 150) !important;*/
}

.caption {
    /*
    font-size: 20px;
    line-height: 22px;*/
    vertical-align: middle;
    padding-top: 10px;
    font-size: 24px;
    line-height: 24px;
    position: relative;
}

.caption .innerBorder {
    /*border: 2px solid #025287;*/
    border-radius: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.vWrap {
    display: block;
}

.variantwrapper .comment {
    display: table-footer-group;
}

/* --------------------------------------------- */

/* ----------- ��� ������ Hotspot ------------*/

.hotspot.borderedimg,
#topsolutionpanel.hotspot .borderedimg {
    border: 2px solid #025287 !important;
    border-radius: 8px;
}

.hotspot.borderedimg img {
    border-radius: 3px;
}

.hotspot .innerBorder {
    /*border: 5px solid #f2f3f8;*/
    border-radius: 5px;
}

.hotspot #hsppointer {
    border: none !important;
}

#leftPanel {
    border-radius: 12px;
}

/* -------------------------------------------- */

textarea:focus, input:focus {
    outline: none;
}

/* ------- ��� ������ relating ------- */

#sortgroup .bar.relating {
    border: 2px solid #025287 !important;
    border-radius: 8px;
    padding: 0 10px 0 10px;
    background: #ccdef2;
    position: relative;
    padding: 2px;
    margin: 2px;
}

.bar.relating .innerBorder {
    position: absolute;
    left: 0px;
    top: 0px;
    /*border: 2px solid #f2f3f8;*/
    border-radius: 8px;
}

#sortitems .bar.relating {
    border: 2px solid #025287 !important;
    background: #ccdef1;
    border-radius: 8px;
    padding: 0 10px 0 10px;
    position: relative;
    padding: 2px;
    margin: 2px;
}

#sortitems .bar.relating .innerBorder {
    /*border: 2px solid #025287;*/
    border-radius: 5px;
}

.wrapper-dropdown {
    background: none !important;
    margin-right: 4px;
    text-align: center;
}

.wrapper-dropdown .dropdown {
    margin-left: 2px;
    overflow: visible;
}

.wrapper-dropdown > div {
    height: 24px;
    line-height: 24px;
    background: #ffffff;
    border: 2px solid #025287;
    border-radius: 5px;
    margin-right: -3px;
    padding: 5px 16px 5px 5px;
    line-height: 1.5;
}

.wrapper-dropdown .dropdown li > span {
    border: 1px solid black;
    border-width: 1px 1px 0 1px;
}

.dropdown > li {
    line-height: 1.55;
    margin: 0;
}

.wrapper-dropdown .dropdown li a {
    padding-right: 16px;
}

#topsolutionpanel {
    padding: 10px 0 10px 0;
    padding-top: 0 !important;
    position: relative;
    margin-top: 25px;
}

#topsolutionpanel.hotspot {
    padding-top: 0px;
    margin: 0 auto;
    margin-top: 25px;
}

#topsolutionpanel img.borderedimg {
    /*border: none !important;*/
}

#stringanswer #rightSolution {
    display: table-cell;
    vertical-align: middle;
}

#floatingimg {
    margin-left: 20px;
    margin-top: 2px;
    padding: 0;
}

#floatingimg video {
    margin-bottom: -6px;
}

.bar {
    /*	box-sizing: border-box;*/
}

#matchinglegend.borderedimg {
    border: 5px solid #025287;
    border-radius: 8px;
}

#sortpoints li, #sortarrows li {
    margin-top: 0;
    margin-bottom: 0;
}

/* ----------------------- LEGEND ----------------------- */

#legend {
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: contain;
}

#legend.borderedimg {
    border: 3px solid #025287 !important;
}

#legend input {
    text-align: center;
    font-size: 24px;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 0;
}

.border-separate {
    border-collapse: separate !important;
}

.captionDiv {
    /*
        border: 2px solid #025287;
        border-radius: 8px;
        position: relative;
        margin: 4px 0;
        padding-bottom: 1px;
        background: #f2f3f8;*/
}

#slide-back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.journal td {
    font-size: 20px !important;
    color: #588CC5;
}

.journal .sectnum, .journal .paranum {
    font-size: 20px !important;
}

.journal td.tddiagram {
    font-size: 14px !important;
    color: #000 !important;
}

#searchPanel {
    z-index: 3000;
}

#searchResults {
    font-size: 20px;
}

.searchlinks {
    height: 58px;
}

#sortitems {
    overflow: visible;
}

.rusEmph {
    font-family: Arial, sans-serif;
    font-size: 18pt;
}

.brecket > li:before, .point > li:before {
    position: relative;
    float: left;
    display: inline-block;
    width: 37px;
}

body[skin="board"] .title {font-size:30px}
body[skin="board"] .caption {font-size:24px;}
body[skin="board"] .font12 {font-size:18px}
body[skin="board"] .font14 {font-size:21px; line-height: 24px;}
body[skin="board"] .base-model .model-title {font-size:24px; line-height: 26px;}  /* #9528 ipicture */
body[skin="board"] .im-model .title-bar {font-size:24px; line-height: 26px;}
body[skin="board"] .base-model .mark {font-size: 20px}
body[skin="board"] .base-model .v-mark {font-size: 20px}
body[skin="board"] .title16 .title-bar {font-size:24px}
body[skin="board"] .mark16 .mark {font-size:24px}
body[skin="board"] .label-view {font-size:24px}
body[skin="board"] .input-view input {font-size:24px; height:34px;} /* height актуально для number, у которого от размеров зависят положение стрелок */
body[skin="board"] .base-model .tabs-layout-bar>.title-bar {font-size:24px; line-height: 26px;}
body[skin="board"] .base-model .axis-label {font-size:24px;}
body[skin="board"] .im-model .base-radiobutton .radio-title { padding: 1px 6px; line-height: 24px; } /* компенсируем увеличенный размер шрифта уменьшением отступов, что бы не появлялся скролл */

/* заголовки увеличиваются по высоте в board, но только в предусмотренных моделях */
body[skin="board"] .im-model[skin-title] .title-bar {font-size:24px; height:36px; line-height: 36px;}
body[skin="board"] .im-model[skin-title] .single-layout.has-title:not(.has-content) {padding-top:36px;}
body[skin="board"] .im-model[skin-title] .single-layout.has-title>.pane-content-wrap {padding-top:36px;}
body[skin="board"] .im-model[skin-title] .player-controls {top: 3px}

.normal-scale #theory {transform:scale(1) !important}

.slideshow figure img {
	border: 2px solid #025287;
	border-radius: 8px;
}

.copyrightCornerNoBorder {
    border: 0 !important;
    border-radius: 0 !important;
    top: 2px !important;
    right: 2px !important;
    z-index: 1;
    position: absolute;
}

.copyrightSignNoBorder {
    border: 0 !important;
    border-radius: 0 !important;
    top: 4px !important;
    right: 4px !important;
    z-index: 2;
    position: absolute;
}

.copyrightCorner {
    border: 0 !important;
    border-radius: 0 !important;
    top: 0 !important;
}

.copyrightSign {
    border: 0 !important;
    border-radius: 0 !important;
    top: 2px !important;
    right: 2px !important;
}

.classitemitem > .copyrightCorner {
    top: 3px !important;
    right: 2px !important;
}

.classitemitem > .copyrightSign {
    top: 5px !important;
    right: 5px !important;
}

.loupe {
    border: 0 !important;
}

/* exampleSlide */

#slide.exampleSlide {
    background-color: #e7fdfa !important;
    background-image: url("../img/common/markt.png");
    background-repeat: no-repeat;
    background-position: 0% 3%;
}

.checkPanelDefault.exampleSlidePanel {
    background-color: #e7fdfa !important;
}

#slide.exampleSlide .bar.classification.withImages > div {
    background-color: #e7fdfa !important;
}

#arr_right {
    position: absolute;
    right: 0px;
}

#attachBtn {
    background-image: url(../img/common/button_bg_p.png);
    background-repeat: repeat-x;
    background-position: center center;
    border-radius: 7px;
    border: 1px solid #919191;
    text-align: center;
    vertical-align: middle;
    width: 220px;
}
