.scheme-star {
	position: relative;
	transform: translate(0, 50px);
	margin-top: -50px !important;
}

.scheme-star.overflow-hidden {
	/* ???  fix #8116 */
	/*overflow: hidden;*/
}

.scheme-star.inline-blk {
	display: inline-block;
}

.scheme-star.disable-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.scheme-star .carousel-background {
	display: block;
	z-index: 0;
}

.scheme-star .carousel-element {
	box-shadow: -1px 1px 22px 0px #2c2c2c;
	-moz-box-shadow: -1px 1px 22px 0px #2c2c2c;
	-webkit-box-shadow: -1px 1px 22px 0px #2c2c2c;
	position: absolute;
	z-index: 100;
	background-color: #ffffff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	display: table;
	text-align: center;
	background-image: none !important;
	border-collapse: separate;
	/*box-sizing: border-box;
	padding: 2%;*/
	/* overflow: hidden; */
	/*transform: scale(0.5);*/
	transform-origin: left;

	/* fix #848 */
	margin-top: -50px;
	transform: translate(0, 50px);

	/* #9215 */
	cursor: default;
}
.scheme-star .carousel-element.has-content {
	cursor: pointer;
}

.scheme-star.main .central {background-color:#0E6DAD; color:#fff;}
.scheme-star .carousel-element[color="#0E6DAD"] {background-color:#97bde2}
.scheme-star .carousel-element[color="#ECB888"] {background-color:#ECB888}
.scheme-star .carousel-element[color="#EEEB8A"] {background-color:#EEEB8A}
.scheme-star .carousel-element[color="#A8DBA0"] {background-color:#A8DBA0}
.scheme-star .carousel-element[color="#A1CADC"] {background-color:#A1CADC}
.scheme-star .carousel-element[color="#E2DED3"] {background-color:#E2DED3}


.scheme-star .carousel-element.child {
	transform-origin: center center;
}

.scheme-star .carousel-element .content {
	/*display: table-cell;
	vertical-align: middle;*/
	width: 88%;
	/*max-height: 88%;*/
	height: 100%;
	overflow: auto;
	/* hidden; */
	/*top: 6%;*/
	top: 0;
	margin-left: 6%;
	position: absolute\0/;
	/* fix ie9 */
}

/* .scheme-star .carousel-element:hover {	// ??
	background-color: #AABBFF;
} */

/*.scheme-star .carousel-popup {
	box-shadow: -1px 1px 22px 0px #2c2c2c;
	 -moz-box-shadow: -1px 1px 22px 0px #2c2c2c;
    -webkit-box-shadow: -1px 1px 22px 0px #2c2c2c;
	position: absolute;
	padding: 36px 16px 16px 16px;
	border: 1px solid #000000;
	z-index: 200;
	display: none;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    line-height: 24px;
    background:#FFD7B4;
}
.scheme-star .carousel-popup .popup-content-wrapper {
	overflow-y: auto;
	padding-right: 12px;
}

.scheme-star .carousel-popup .close-popup-btn {
	width: 27px;
	height: 27px;
	background: url(../img/cross1.png) 0 0 no-repeat;
	cursor: pointer;
	position: absolute;
	top: -15px;
	right: -13px;
	display: none;
}*/

.scheme-star .carousel-canvas {
	top: 0;
	left: 0;
	position: absolute;
	z-index: 1;
}

.scheme-star .carousel-overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .6;
	filter: Alpha(Opacity=60);
	background: #aaaaaa;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.scheme-star .content-block {
	z-index: 1000;
	position: absolute;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	box-shadow: -1px 1px 22px 0px #2c2c2c;
	-moz-box-shadow: -1px 1px 22px 0px #2c2c2c;
	-webkit-box-shadow: -1px 1px 22px 0px #2c2c2c;
	background: #FFD7B4;
	border-collapse: separate;
	box-sizing: border-box;
}

.scheme-star .content-block .close-content-btn {
	position: absolute;
	width: 27px;
	height: 27px;
	cursor: pointer;
	top: -14px;
	right: -14px;
	background: url(../img/cross1.png) 0 0 no-repeat;
}

.scheme-star .content-block .content {
	width: 100%;
	height: 100%;
	position: relative;
	overflow-y: auto;
	padding-right: 15px;
	padding-bottom: 3px; /* #9291#note-15 */
	padding-top: 3px; /* #9291#note-15 */
}

.scheme-star .content-block .content {
	/*border-spacing: 10px;
  border-collapse: separate;*/
}

.scheme-star .content-block .content-temp {
	display: none;
}

/* ARCH #9291#note-15 */
.scheme-star .content-block .content>* {
	/* overflow: hidden; */ /* #9688 */
}

.scheme-star .content-block .content-temp {overflow-x: auto; overflow-y:visible; padding-bottom: 20px;} /*  #8356 #9291 */
.scheme-star .content-block .content-temp .content {overflow:visible} /* #9291 #8356 */

.scheme-star .carousel-popup {
	position: absolute;
	background-color: white;
	border: 1px solid #dcd;
	-webkit-border-radius: 8px !important;
	-moz-border-radius: 8px !important;
	border-radius: 8px !important;
	z-index: 1200;
	display: none;
	padding: 12px;
	box-sizing: border-box;
	max-width: 80%;
	max-height: 80%;
}

.scheme-star .carousel-popup .content {
	position: relative;
	font-size: 11pt;
	line-height: 13pt;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
}

.scheme-star .carousel-popup .closeBtn {
	position: absolute;
	background: url(../img/dialog_close_icon.png) 0 0 no-repeat;
	width: 27px;
	height: 27px;
	top: -14px;
	right: -14px;
	cursor: pointer;
}

.scheme-star .blocking-screen {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	background: #000000;
	opacity: 0.6;
	z-index: 1100;
}

.btn-expand-childs {
	background-image: url("../img/plus_icon.png");
	width: 27px;
	height: 27px;
	bottom: -8px;
	right: -8px;
	position: absolute;
	cursor: pointer;
}

/* переопределяем courseml */

.scheme-star [name-align="left"] td {
	text-align: left !important;
}

.scheme-star [name-align="right"] td {
	text-align: right !important;
}

.scheme-star [name-align="justify"] td {
	text-align: justify !important;
}

.scheme-star [name-align="center"] td {
	text-align: center !important;
}

.scheme-star [name-valign="top"] td {
	vertical-align: top !important;
}

.scheme-star [name-valign="middle"] td {
	vertical-align: middle !important;
}

.scheme-star [name-valign="bottom"] td {
	vertical-align: bottom !important;
}

.scheme-star p {
	/* text-align: left  #9383 */
}

.btn-show-content {
	background: url("../../scheme/styles/images/plus-01.png") 0 0 no-repeat;
	background-size: contain;
	width:30px;
	height:30px;

	top: 2px;
	right: 2px;
	position: absolute;
	cursor: pointer;
}
.scheme-star.showtime .btn-show-content {opacity:0}

/*.scheme-star .centerFigure tr+tr td .imageWrapper {padding:15px 0}*/

.scheme-star .centerFigure+p {
	padding-top: 10px;
}

/* #8356 */

[skin="board"] .scheme-star .caption {
	line-height: 28px;
}

.centerPopupScale {
	transform: scale(1.1)
}

.centerPopupScale .ui-dialog-content {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

.centerPopupScale .ui-dialog-content .caption {
	padding-top: 20px !important;
}


.scheme-star .mark {position:absolute; left:0; top:0; width:100%; height:100%; box-sizing: border-box; border:3px solid #1a6da3; border-radius: 5px}
